.about {
  max-width: 70rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.content {
  flex-basis: 45rem;
  padding: 1rem;
}
.image {
  border-radius: 0.7rem;
  opacity: 0.94;
}
.imageContainer {
  text-align: center;
}

.imageCarousel {
  align-self: flex-start;
  margin-top: 10rem;
  width: 25%;
}

@media only screen and (max-width: 1130px) {
  .imageCarousel {
    margin-top: 8.5rem;
    width: 80%;
  }
}
