.contact {
  max-width: 35rem;
  margin: 0 auto;
  color: #6b7280;
  padding-bottom: 4rem;
}

.formGroup {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.formGroup input {
  width: 100%;
  font-size: 1.7rem;
  padding: 0.3rem;
  border-bottom: 0.2rem solid #6b7280;
  border-right: 0.2rem solid #6b7280;
  border-top: none;
  border-left: none;
  background-color: #e5e7eb;
}

.formGroup input:focus {
  outline: 0.2rem solid #3b82f6;
}

.formGroup textarea {
  width: 100%;
  height: 16rem;
  font-size: 1.7rem;
  padding: 0.3rem;
  border-bottom: 0.2rem solid #6b7280;
  border-right: 0.2rem solid #6b7280;
  border-top: none;
  border-left: none;
  resize: none;
  background-color: #e5e7eb;
}

.formGroup textarea:focus {
  outline: 0.2rem solid #3b82f6;
}

.formGroup label {
  font-size: 1.5rem;
}

.sendBtn {
  background-color: #6b7280;
  color: #fff;
  padding: 0.8rem 1.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  box-shadow: 4px 4px 12px -7px #000000;
}

.sendBtn:hover {
  background-color: #3b82f6;
}

.ldsdualring {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  position: relative;
  margin-left: 4rem;
  bottom: 0.77rem;
}
.ldsdualring:after {
  content: " ";
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 6px solid #3b82f6;
  border-color: #3b82f6 transparent #3b82f6 transparent;
  animation: ldsdualring 1.2s linear infinite;
}
@keyframes ldsdualring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
