.hero {
  max-width: 70rem;
  margin: 0rem auto;
  margin-top: 15rem;
  margin-bottom: 14rem;
  color: #6b7280;
}

.name {
  color: #3b82f6;
}

.subTitle {
  font-size: 3rem !important;
  font-weight: 500;
  margin-top: 0.5rem !important;
}

.callToAction {
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
  transition: 0.5s;
  background-color: #6b7280;
  border-radius: 3rem;
  padding: 1rem 0.8rem;
  box-shadow: 2px 3px 7px 0px rgba(0, 0, 0, 0.233);
}

.callToAction:hover {
  cursor: pointer;
}

.callToActionWrapper {
  margin-top: 4rem;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 1130px) {
  .hero {
    margin-top: 12rem;
  }
}

@media only screen and (max-width: 450px) {
  .hero {
    margin-top: 6rem;
  }
}
