.container h1 {
  margin: 0;
}

.main {
  min-height: 100vh;
  max-width: 85rem;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  color: #d00027;
}

.footer {
  width: 100%;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media only screen and (max-width: 1550px) {
  .footer {
    border-top: 1px solid rgba(0, 0, 0, 0.261);
  }
}
