.navBar {
  position: fixed;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 500;
  transition: top 0.3s;
  color: #94a3b8;
}

.navShadow {
  box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.144);
}

.navBarContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 95%;
  margin: 0 auto;
}

.navBarContent a {
  text-decoration: none;
}

.navBarContent li {
  list-style: none;
}

.hamburger {
  font-size: 2rem;
  display: none;
}

.navMenuWeb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navMenuMobile {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  list-style: none;
  width: 100%;
  display: none;
  filter: drop-shadow(2px 4px 6px black);
  background-color: rgba(0, 0, 0, 0.633);
  position: inherit;
  margin-top: 0;
  height: 100vh;
}

.navMenuMobile li {
  margin-left: 3rem;
  margin-top: 4rem;
}

.navItem {
  margin-left: 5rem;
}

.navLink {
  font-size: 1.2rem;
  font-weight: 500;
  transition: 500ms;
}

.navLink:hover {
  color: #0ea5e9;
}

.navLogo {
  cursor: pointer;
}

.fileBtn {
  font-size: 1.2rem;
  padding: 0.3rem 0.3rem;
  color: #0ea5e9;
  border-radius: 0.3rem;
  transition: 0.5s;
  text-align: center;
  margin: 0.2rem 0;
}

.fileBtn:hover {
  background-color: #0ea5e920;
  cursor: pointer;
}

@media only screen and (max-width: 1360px) {
  .navMenuWeb {
    display: none;
  }

  .navMenuMobile {
    display: block;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .navItem {
    margin-left: 0rem;
    margin-bottom: 2rem;
  }

  .navItem:last-of-type {
    margin-bottom: 0rem;
  }

  .fileBtn {
    font-size: 1.2rem;
    padding: 0;
    color: #0ea5e9;
    margin: 0;
  }
}
