.container {
  max-width: 50rem;
  margin: 4rem auto;
  padding: 1rem;
}

.title {
  color: #94a3b8;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 0;
}

.date {
  font-size: 1rem;
  font-weight: bold;
  opacity: 0.7;
  margin: 1rem 0.4rem;
}

.content p {
  line-height: 1.7rem;
}

.content h2 {
  color: #0ea5e9;
}

.content a {
  color: #94a3b8;
}

.content pre {
  overflow-x: auto;
  background-color: #00000015;
  padding: 2rem 1rem;
  /* To have the lines wrap, use this: */
  /* white-space:pre-wrap; */
}

@media only screen and (max-width: 1130px) {
  .title {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 450px) {
  .title {
    font-size: 2rem;
  }
}
