.card {
  margin: 0.5rem 1rem 1rem 1rem;
  background-color: rgba(194, 194, 194, 0.314);
  padding: 1rem;
  border-radius: 0.5rem;
  transition: 500ms;
  display: flex;
  flex-direction: column;
}

.card:hover {
  background-color: #b8b8b890;
  cursor: pointer;
  transform: scale(1.02);
}

.date {
  margin-top: 1rem;
}

.title {
  margin: 0;
  color: #000000;
  font-weight: bold !important;
  font-size: 1.5rem !important;
}

.excerpt {
  margin: 0.5rem 0 1rem 0;
  opacity: 0.8;
  line-height: 1.2rem !important;
  font-size: 0.8rem !important;
}
